:root {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\5fae\8f6f\96c5\9ed1,Arial,sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
HTML, body, div, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
  border: none;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,\5fae\8f6f\96c5\9ed1,Arial,sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
#app {
  background: #eee;
  height: 100vh;
  overflow: hidden;
  font-weight: 400;
}
:root {
  --primary-color: #222222;
}
#app .g-table-search {
  padding-bottom: 16px;
}